{
    "compilation_cmd": " -I.. -I../include -DECMULT_WINDOW_SIZE=15 -DECMULT_GEN_PREC_BITS=4 -DUSE_FIELD_INV_BUILTIN=1 -DUSE_NUM_NONE=1 -DUSE_SCALAR_INV_BUILTIN=1 -DSECP256K1_BUILD -Dvolatile=",
    "files": [
        "../contrib/lax_der_parsing.c",
        "../contrib/lax_der_privatekey_parsing.c",
        "../src/secp256k1.c",
        "../src/tests.c"
    ],
    "filesystem": {
        "files": [
           {
               "name": "/dev/urandom",
               "from": "fake_urandom_data"
           }
        ]
    }
}
