[
    {
        "include": ".trustinsoft/common.config",
        "main": "run_field_inv_all_var",
        "name": "run_field_inv_all_var"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "ecmult_const_mult_zero_one",
        "name": "ecmult_const_mult_zero_one"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "ecmult_const_random_mult",
        "name": "ecmult_const_random_mult"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "fe_cmov_test",
        "name": "fe_cmov_test"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "fe_storage_cmov_test",
        "name": "fe_storage_cmov_test"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "ge_storage_cmov_test",
        "name": "ge_storage_cmov_test"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "int_cmov_test",
        "name": "int_cmov_test"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_cmov_tests",
        "name": "run_cmov_tests"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_field_convert",
        "name": "run_field_convert"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_field_inv",
        "name": "run_field_inv"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_field_inv_var",
        "name": "run_field_inv_var"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_field_misc",
        "name": "run_field_misc"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_group_decompress",
        "name": "run_group_decompress"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_random_pubkeys",
        "name": "run_random_pubkeys"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_scalar_set_b32_seckey_tests",
        "name": "run_scalar_set_b32_seckey_tests"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_secp256k1_memczero_test",
        "name": "run_secp256k1_memczero_test"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_sqr",
        "name": "run_sqr"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_wnaf",
        "name": "run_wnaf"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "scalar_cmov_test",
        "name": "scalar_cmov_test"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "scalar_test",
        "name": "scalar_test"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "test_add_neg_y_diff_x",
        "name": "test_add_neg_y_diff_x"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "test_ecmult_multi_batch_size_helper",
        "name": "test_ecmult_multi_batch_size_helper"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "test_fixed_wnaf_small",
        "name": "test_fixed_wnaf_small"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "test_intialized_inf",
        "name": "test_intialized_inf"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "test_random_pubkeys",
        "name": "test_random_pubkeys"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "test_secp256k1_pippenger_bucket_window_inv",
        "name": "test_secp256k1_pippenger_bucket_window_inv"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_cmov_tests",
        "name": "run_cmov_tests"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_hmac_sha256_tests",
        "name": "run_hmac_sha256_tests"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_rfc6979_hmac_sha256_tests",
        "name": "run_rfc6979_hmac_sha256_tests"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_scalar_set_b32_seckey_tests",
        "name": "run_scalar_set_b32_seckey_tests"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_scratch_tests",
        "name": "run_scratch_tests"
    },
    {
        "include": ".trustinsoft/common.config",
        "main": "run_sha256_tests",
        "name": "run_sha256_tests"
    },
    {
        "no-results": true,
        "include": ".trustinsoft/common.config",
        "main": "run_tis_interpreter_secp256k1_testrand_init",
        "name": "run_tis_interpreter_secp256k1_testrand_init"
    },
    {
        "no-results": true,
        "include": ".trustinsoft/common.config",
        "main": "ecmult_const_commutativity",
        "name": "ecmult_const_commutativity"
    },
    {
        "no-results": true,
        "include": ".trustinsoft/common.config",
        "main": "run_endomorphism_tests",
        "name": "run_endomorphism_tests"
    },
    {
        "no-results": true,
        "include": ".trustinsoft/common.config",
        "main": "run_sqrt",
        "name": "run_sqrt"
    },
    {
        "no-results": true,
        "include": ".trustinsoft/common.config",
        "main": "run_endomorphism_tests",
        "name": "run_endomorphism_tests"
    },
    {
        "val-timeout": 10800,
        "no-results": true,
        "include": ".trustinsoft/common.config",
        "main": "test_ge",
        "name": "test_ge"
    },
    {
        "val-timeout": 10800,
        "no-results": true,
        "include": ".trustinsoft/common.config",
        "main": "run_tis_interpreter_ecdsa_der_parse",
        "name": "run_tis_interpreter_ecdsa_der_parse"
    },
    {
        "val-timeout": 10800,
        "no-results": true,
        "include": ".trustinsoft/common.config",
        "main": "run_tis_interpreter_ecdsa_sign_verify",
        "name": "run_tis_interpreter_ecdsa_sign_verify"
    },
    {
        "val-timeout": 10800,
        "no-results": true,
        "include": ".trustinsoft/common.config",
        "main": "run_tis_interpreter_ecdsa_end_to_end",
        "name": "run_tis_interpreter_ecdsa_end_to_end"
    },
    {
        "val-timeout": 10800,
        "no-results": true,
        "include": ".trustinsoft/common.config",
        "main": "run_tis_interpreter_ecdsa_edge_cases",
        "name": "run_tis_interpreter_ecdsa_edge_cases"
    }
]
